body
{
   background-color: #1A2234;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu1_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 110px;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #F7F7F7;
   border: 0px solid #2E2E2E;
   background-color: #0A0A0A;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a
{
   color: #D3D3D3;
   border: 1px solid #2E2E2E;
   border-radius: 0px;
   background-color: #1D273B;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#PanelMenu1_markup li a:hover
{
   color: #F7F7F7;
   background-color: #0A0A0A;
   border: 0px solid #2E2E2E;
}
#wb_PanelMenu1 a:hover
{
   color: #F7F7F7;
   background-color: #1D273B;
   border: 1px solid #2E2E2E;
}
#PanelMenu1_panel
{
   background-color: #0A0A0A;
   overflow-y: auto;
}
#PanelMenu1
{
   padding-left: 18px;
}
#PanelMenu1:after
{
   position: absolute;
   top: 50%;
   left: 0px;
   width: 18px;
   height: 18px;
   margin-top: -9px;
   content: "\f039";
   display: inline-block;
   font-family: FontAwesome;
   font-size: 18px;
   line-height: 18px;
}
#PanelMenu1
{
   line-height: 48px;
   width: 0px;
   height: 48px;
   position: absolute;
   z-index: 999;
}
#TextArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #1D273B;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 4px 0 0;
}
@media (max-width: 0px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 80px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #808080;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 970px;
}
#LayoutGrid3 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid3
{
   width: 970px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 75%;
   text-align: right;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3
{
   width: 100%;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #1D273B;
   background-image: none;
   border: 2px solid #243049;
   border-radius: 3px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 2px 80px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: right;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 2px 10px 26px 80px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   text-align: right;
}
#Card4-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   border-top: 8px #EEEEEE solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item3
{
   box-sizing: border-box;
   margin: -8px 80px 0 10px;
   border-top: 8px #00C851 solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 20px 10px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
}
#Card4-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #1D273B;
   background-image: none;
   border: 2px solid #243049;
   border-radius: 3px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 2px 80px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: right;
}
#Card6-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 2px 10px 26px 80px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   text-align: right;
}
#Card6-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card6-card-item2
{
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   border-top: 8px #EEEEEE solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card6-card-item3
{
   box-sizing: border-box;
   margin: -8px 80px 0 10px;
   border-top: 8px #FF0000 solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card6-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 20px 10px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
}
#Card6-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card7
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #1D273B;
   background-image: none;
   border: 2px solid #243049;
   border-radius: 3px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card7-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card7-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 2px 80px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: right;
}
#Card7-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 2px 10px 26px 80px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   text-align: right;
}
#Card7-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   border-top: 8px #EEEEEE solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card7-card-item3
{
   box-sizing: border-box;
   margin: -8px 200px 0 10px;
   border-top: 8px #FFBB33 solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card7-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 20px 10px;
   background-color: transparent;
   background-image: none;
   color: #D3D3D3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
}
#Card7-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 25px 0 0 0 ;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 0 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3, #LayoutGrid5 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3, #LayoutGrid5 > .row > .col-4
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3, #LayoutGrid5 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_CardContainer12
{
   background-color: transparent;
   background-image: url('images/suppliesbk.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#CardContainer12
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 970px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:480px) 
{
#CardContainer12
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 25px 0 0 0 ;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid4 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card29
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Card29-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card29-card-item0
{
   display: inline-block;
   height: 63px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   border: 0px solid #9F9F9F;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#wb_Card29:hover #Card29-card-item0
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card29-card-item0
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card29-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card29-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card29-card-item1
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 2px #9F9F9F solid;
   border-width: 2px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_Card29:hover #Card29-card-item1
{
   border-top-color: #FFFFFF;
   -webkit-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#Card29-card-item1
{
   border-top-color: #9F9F9F;
   -webkit-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#Card29-card-item2
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#wb_Card29:hover #Card29-card-item2
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card29-card-item2
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card29-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card29:hover #Card29-card-item3
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card29-card-item3
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#wb_Card30
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Card30-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card30-card-item0
{
   display: inline-block;
   height: 63px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   border: 0px solid #9F9F9F;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#wb_Card30:hover #Card30-card-item0
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card30-card-item0
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card30-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card30-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card30-card-item1
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 2px #9F9F9F solid;
   border-width: 2px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_Card30:hover #Card30-card-item1
{
   border-top-color: #FFFFFF;
   -webkit-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#Card30-card-item1
{
   border-top-color: #9F9F9F;
   -webkit-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#Card30-card-item2
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#wb_Card30:hover #Card30-card-item2
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card30-card-item2
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card30-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card30:hover #Card30-card-item3
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card30-card-item3
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#wb_Card31
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Card31-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card31-card-item0
{
   display: inline-block;
   height: 63px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   border: 0px solid #9F9F9F;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#wb_Card31:hover #Card31-card-item0
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card31-card-item0
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card31-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card31-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card31-card-item1
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 2px #9F9F9F solid;
   border-width: 2px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_Card31:hover #Card31-card-item1
{
   border-top-color: #FFFFFF;
   -webkit-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#Card31-card-item1
{
   border-top-color: #9F9F9F;
   -webkit-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#Card31-card-item2
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#wb_Card31:hover #Card31-card-item2
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card31-card-item2
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card31-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card31:hover #Card31-card-item3
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#Card31-card-item3
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #2196F3;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 25px 0 0 0 ;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 30px 15px 30px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2, #LayoutGrid6 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2, #LayoutGrid6 > .row > .col-3
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 25px 5px 25px;
}
#LayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid6 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 5px 25px 5px 25px;
}
#LayoutGrid6 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid6 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 5px 25px 5px 25px;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2, #LayoutGrid6 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 6px 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 6px 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #A3C9E7;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #A3C9E7;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 20px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#LayoutGrid7 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3, #LayoutGrid7 > .row > .col-4, #LayoutGrid7 > .row > .col-5, #LayoutGrid7 > .row > .col-6, #LayoutGrid7 > .row > .col-7, #LayoutGrid7 > .row > .col-8
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3, #LayoutGrid7 > .row > .col-4, #LayoutGrid7 > .row > .col-5, #LayoutGrid7 > .row > .col-6, #LayoutGrid7 > .row > .col-7, #LayoutGrid7 > .row > .col-8
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#LayoutGrid7 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 18px 18px 18px 18px;
}
#LayoutGrid7 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 18px 18px 18px 18px;
}
#LayoutGrid7 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-4 > .col-4-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 18px 18px 18px 18px;
}
#LayoutGrid7 > .row > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-5 > .col-5-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 18px 18px 18px 18px;
}
#LayoutGrid7 > .row > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-6 > .col-6-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 18px 18px 18px 18px;
}
#LayoutGrid7 > .row > .col-7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-7 > .col-7-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 18px 18px 18px 18px;
}
#LayoutGrid7 > .row > .col-8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3, #LayoutGrid7 > .row > .col-4, #LayoutGrid7 > .row > .col-5, #LayoutGrid7 > .row > .col-6, #LayoutGrid7 > .row > .col-7, #LayoutGrid7 > .row > .col-8
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 53px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 66px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 50px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 64px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 85px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 73px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Card10
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #00C851;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card10-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card10-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -58px 0 ;
   padding: 10px 10px 0 0;
   background-color: transparent;
   background-image: none;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   line-height: 48px;
   text-align: left;
}
#Card10-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card10-card-item0 i
{
   color: #008000;
   float: right;
   margin-right: 1px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#Card10-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 10px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card10-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card10-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 10px 2px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card10-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#Card10-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 10px 0 10px 0;
   background-color: #00A200;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: center;
}
#Card10-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card10-card-item3 i
{
   color: #FFFFFF;
   margin-left: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 12px;
   width: 12px;
}
#wb_Card11
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFBB33;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card11-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card11-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -58px 0 ;
   padding: 10px 10px 0 0;
   background-color: transparent;
   background-image: none;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   line-height: 48px;
   text-align: left;
}
#Card11-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card11-card-item0 i
{
   color: #99701F;
   float: right;
   margin-right: 1px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#Card11-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 10px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card11-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card11-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 10px 2px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card11-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#Card11-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 10px 0 10px 0;
   background-color: #E6A82E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: center;
}
#Card11-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card11-card-item3 i
{
   color: #FFFFFF;
   margin-left: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 12px;
   width: 12px;
}
#wb_Card12
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #48BCE8;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card12-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card12-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -58px 0 ;
   padding: 10px 10px 0 0;
   background-color: transparent;
   background-image: none;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   line-height: 48px;
   text-align: left;
}
#Card12-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card12-card-item0 i
{
   color: #196D94;
   float: right;
   margin-right: 1px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#Card12-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 10px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card12-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card12-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 10px 2px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card12-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#Card12-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 10px 0 10px 0;
   background-color: #25A4DD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: center;
}
#Card12-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card12-card-item3 i
{
   color: #FFFFFF;
   margin-left: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 12px;
   width: 12px;
}
#wb_Card13
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FF0000;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.10);
   text-align: left;
}
#Card13-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card13-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -58px 0 ;
   padding: 10px 10px 0 0;
   background-color: transparent;
   background-image: none;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   line-height: 48px;
   text-align: left;
}
#Card13-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card13-card-item0 i
{
   color: #993131;
   float: right;
   margin-right: 1px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#Card13-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 10px 10px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card13-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card13-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 10px 2px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card13-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#Card13-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 10px 0 10px 0;
   background-color: #E64A4A;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: center;
}
#Card13-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card13-card-item3 i
{
   color: #FFFFFF;
   margin-left: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 12px;
   width: 12px;
}
